AwsBoto3/project-aws/inculde
AwsBoto3/project-aws/Lib
AwsBoto3/project-aws/Scripts
AwsBoto3/project-aws/pyvenv.cfg
GitAPi/Git-Api/inculde
GitAPi/Git-Api/Lib
GitAPi/Git-Api/Scripts
GitAPi/Git-Api/pyvenv.cfg
